<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shyrelle Web - Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
        body {
            display: auto;
            justify-content: center;
            align-items: center;
            margin: 0;
            flex-direction: column;
            background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
        }
        h1 {
      font-family: Comic Sans MS;
    }
    h3 {
      font-family: Comic Sans MS;
    }
  </style>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">ADMIN</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" style="margin-left: 910px;">
              <!--li class=""><a href="/">Home</a></li-->
              <li><a href="/customerlist">Customer</a></li>
              <li><a href="/itemlist">Item</a></li>
              <!--li><a href="/checkout_items">Checkout Items</a></li-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
        
      <div class="container-fluid text-center">    
        <div class="row content">
          <div class="col-sm-2 sidenav">
          </div>
          <div class="col-sm-8 text-left"> 
            <h1 style="margin-left: 346px; margin-top: 50px;">Welcome</h1>
            <h3 style="margin-left: 320px; margin-top: 20px;">Admin Dashboard</h3>

            <div class="center" style="text-align: center; margin-top: 360px;">
              Managaytay, Shyrelle &copy; 2024 | Designed with ❤️
            </div>
          </div>
        </div>
      </div>

</body>
</html>
