<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shyrelle - Shopping Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<style>
    body{
        background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    }
</style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <h2 class="text-center" style="color: white; margin-bottom: 80px;"></h2>
        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">
                <h3>Shopping Cart</h3>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

                {% endfor %}
                {% endif %}
                {% endwith %}

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Price</th>
                            <th scope="col">Type</th>
                            <th scope="col">Qty</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item['title'] }}</td>
                            <td>{{ item['author'] }}</td>
                            <td>{{ item['genre'] }}</td>
                            <td>{{ item['price'] }}</td>
                            <td>{{ item['type'] }}</td>
                            <td>{{ item['qty'] }}</td>
                            
                            <td>
                                <form method="POST" action="{{ url_for('add_to_cart', item_id=item['id']) }}">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class='fas fa-cart-plus' style='font-size:12px'></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <!--div class="alert alert-success" role="alert">
                            {{ messages[0] }}
                        </div-->
                    {% endif %}
                {% endwith %}
                <a href="{{ url_for('view_cart') }}" class="btn btn-primary" style="font-size: 10px; border-radius: 30px; margin-left: 720px;">
                    View Cart
                </a>
                
            </div>
        </div>
    </div>

<button style="margin-left: 250px;">
    <a href="{{ url_for('customer_dashboard') }}" style="text-decoration: none; color: black;">
        <i style="font-size: 20px;" class="fa">&#xf0a8;</i>
    </a>
</button>


</body>
</html>
